* {
  background-color: black;
  color: white;
}

div {
  text-align: center;
  margin-top: 5%;
}

img {
  border: 5px solid white;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
}